<% include ./partials/header %>
<div class="row">
    <h1 style="text-align: center">Random Campground</h1>
    <% if(campground.length == 0 ){ %>
    <p>Please save a campground or two!</p>


    <% } else { %>
    <div class="row text-center flex-wrap" id="campground-grid">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/posts/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>
<% include ./partials/footer %>